<app-nav-bar></app-nav-bar>
<div class="container" 
style="background-image: url(&quot;./assets/img/gaubusBG.jpg&quot;) !important;
        background-repeat: no-repeat; background-size: 100% !important;
        overflow-y: scroll !important;overflow-x: hidden; height: 100%;">
  <section class="text-center" style="padding-top: 2em;"><img class="shadow-lg" src="assets/img/gaubusLogo.png" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="150" style="background-image: url(&quot;assets/img/gaubusLogo.png&quot;);width: 10em;height: 10em;"></section>
    <section style="padding: 2em;">
        <div class="card" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="150" style="margin-bottom: 1em;">
            <div class="card-body"><input type="text" style="width: 75%;"><button class="btn btn-primary text-left" type="button" style="margin-left: 5px;">se</button></div>
        </div>
        <div class="card shadow" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="150" style="background-color: rgba(255,255,255,0.51);">
            <div class="card-header" style="background-color: #ffffff;">
                <h6 class="text-left mb-0">weekly (04/10/20 -- 11/10/20)</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p><strong>days</strong>:7</p>
                    </div>
                    <div class="col-4">
                        <p><strong>R</strong>10.00</p>
                    </div>
                    <div class="col-4">
                        <p><strong>code: </strong>#</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="padding: 5px;"><button class="btn btn-primary bg-secondary" type="button" style="width: 25%;">Re</button><button class="btn btn-primary bg-secondary" type="button" style="width: 25%;margin-left: 1em;">Ca</button></div>
                </div>
            </div>
        </div>
    </section>
</div>