<div class="container">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="position: fixed;width: 100%;background-color: rgba(255,255,255,0);z-index: 999999999;">
      <div class="container"><a class="navbar-brand" href="#"></a><button class="navbar-toggler shadow" data-toggle="collapse" data-target="#navcol-1" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="150" style="background-color: #fffefe;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div
              class="collapse navbar-collapse shadow-lg" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item" role="presentation"><a class="nav-link" href="home" style="background-color: #ffffff;">Home</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="trips" style="background-color: #ffffff;">Trips</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link text-left" href="profile" style="background-color: #ffffff;">Profile</a></li>
              </ul>
      </div>
  </div>
  </nav>
</div>